/* clasa do css  */
.addByJs {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16p 
}
.proba{
    display: grid;
    grid-template-columns: repeat(3, 1fr) ;
}